<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,400,700|Niramit:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section class="background">
    <div class="background__box sunny">

    </div>
</section>
<nav class="navigation">
    <div class="navigation__box">
        <form class="navigation__form" action="/" method="POST">
            <label class="navigation__form-label" for="team_name"> <i class="fas fa-bolt"></i>
                <span>Weather </span> </label>
            <input class="navigation__form-input" id="team_name" type="text" name="name" placeholder="Enter Location">
            <input class="navigation__form-submit" type="submit" value="Search">
        </form>
        <div class="navigation__logo">
            <img class="navigation__logo__img" src="img/logo/logo__mostlyclear.png" alt="">
        </div>
    </div>
</nav>
<div class="location">
    <div class="location__box">
        <div class="location__box__my">
            <h1>My Locations</h1>
            <ul class="location__item-box">
                <li class="location__item-box-location"><a href="" class="">Skopje</a></li>
                <li class="location__item-box-location"><a href="" class="">Resen</a></li>
                <li class="location__item-box-location"><a href="" class="">Istanbul</a></li>
            </ul>
        </div>
        <div class="location__box__world">
            <h1>World Famous Locations</h1>
            <ul class="location__item-box">
                <li class="location__item-box-location"><a href="" class="">New York</a></li>
                <li class="location__item-box-location"><a href="" class="">Hong Kong</a></li>
                <li class="location__item-box-location"><a href="" class="">Wien</a></li>
                <li class="location__item-box-location"><a href="" class="">Moskow</a></li>
                <li class="location__item-box-location"><a href="" class="">Berlin</a></li>
                <li class="location__item-box-location"><a href="" class="">Tokio</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <div class="content__location-box">
        <h1 class="content__location-box-header"><%= geo.results[0].locations[0].adminArea5 %></h1>
        <h3 class="content__location-box-country"><%= geo.results[0].locations[0].adminArea1  %></h3>
        <h3 class="content__location-box-country">Timezone - <%= wed.timezone  %></h3>
        <p class="content__location-box-time"><span class="content__location-box-time-date">10/10</span>, <span
                    class="content__location-box-time-day">4:09 PM</span></p>
    </div>
    <div class="content__weather-box">
        <div class="content__weather-box-weather">
            <div class="content__weather-box-weather-icon">
                <img src="img/mostly_cloudy_day.png" alt="">
            </div>
            <div class="content__weather-box-weather-status">
                <p><%= wed.hourly.summary %></p>
            </div>
        </div>
        <div class="content__weather-box-temperature">
            <div class="content__weather-box-temperature-high">
                <h4><span>&uarr;</span><span> <%= wed.daily.data[0].temperatureHigh.toFixed(1) %> <sup>o</sup></span></h4>
            </div>
            <div class="content__weather-box-temperature-low">
                <h4><span>&darr;</span><span><%= wed.daily.data[0].temperatureLow.toFixed(1) %> <sup>o</sup></span></h4>
            </div>
        </div>
        <div class="content__weather-box-current">
            <div class="content__weather-box-current-number">
                <h1><%= wed.currently.temperature.toFixed(1) %> <sup>o</sup></h1>
            </div>
            <div class="content__weather-box-current-measure">
                <h1>F</h1>
                <h1>C</h1>
            </div>
        </div>

    </div>

</div>
<div class="forecast">
    <div class="forecast-box-left">
        <div class="forecast-box-temperature">
            <h1 class="forecast-box-temperature-header">Forecast</h1>
            <div class="forecast-box-temperature-hourly">
                <h1>Temperature</h1>
                <div class="forecast-box-temperature-hourly-item-box">
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sub>o</sub></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                    <div class="forecast-box-temperature-hourly-item">
                        <p>1 PM</p>
                        <div class="img-box">
                            <img src="img/clear_day.png" alt="">
                        </div>
                        <p>73 <sup>o</sup></p>
                    </div>
                </div>
            </div>
            <div class="forecast-box-temperature-day">
                <div class="forecast-box-temperature-day-box">
                    <h1>Monday</h1>
                    <div class="img-box">
                        <img src="img/clear_day.png" alt="">
                    </div>
                    <div class="img-box flex">
                        <img src="img/rain_icon.png" alt="">
                        <p>0%</p>
                    </div>
                    <div class="box-high-low">
                        <h1>74</h1>
                        <h1>64</h1>
                    </div>
                </div>
                <div class="forecast-box-temperature-day-box">
                    <h1>Monday</h1>
                    <div class="img-box">
                        <img src="img/clear_day.png" alt="">
                    </div>
                    <div class="img-box flex">
                        <img src="img/rain_icon.png" alt="">
                        <p>0%</p>
                    </div>
                    <div class="box-high-low">
                        <h1>74</h1>
                        <h1>64</h1>
                    </div>
                </div>
                <div class="forecast-box-temperature-day-box">
                    <h1>Monday</h1>
                    <div class="img-box">
                        <img src="img/clear_day.png" alt="">
                    </div>
                    <div class="img-box flex">
                        <img src="img/rain_icon.png" alt="">
                        <p>0%</p>
                    </div>
                    <div class="box-high-low">
                        <h1>74</h1>
                        <h1>64</h1>
                    </div>
                </div>
                <div class="forecast-box-temperature-day-box">
                    <h1>Monday</h1>
                    <div class="img-box">
                        <img src="img/clear_day.png" alt="">
                    </div>
                    <div class="img-box flex">
                        <img src="img/rain_icon.png" alt="">
                        <p>0%</p>
                    </div>
                    <div class="box-high-low">
                        <h1>74</h1>
                        <h1>64</h1>
                    </div>
                </div>
                <div class="forecast-box-temperature-day-box">
                    <h1>Monday</h1>
                    <div class="img-box">
                        <img src="img/clear_day.png" alt="">
                    </div>
                    <div class="img-box flex">
                        <img src="img/rain_icon.png" alt="">
                        <p>0%</p>
                    </div>
                    <div class="box-high-low">
                        <h1>74</h1>
                        <h1>64</h1>
                    </div>
                </div>
                <div class="forecast-box-temperature-day-box">
                    <h1>Monday</h1>
                    <div class="img-box">
                        <img src="img/clear_day.png" alt="">
                    </div>
                    <div class="img-box flex">
                        <img src="img/rain_icon.png" alt="">
                        <p>0%</p>
                    </div>
                    <div class="box-high-low">
                        <h1>74</h1>
                        <h1>64</h1>
                    </div>
                </div>
                <div class="forecast-box-temperature-day-box">
                    <h1>Monday</h1>
                    <div class="img-box">
                        <img src="img/clear_day.png" alt="">
                    </div>
                    <div class="img-box flex">
                        <img src="img/rain_icon.png" alt="">
                        <p>0%</p>
                    </div>
                    <div class="box-high-low">
                        <h1>74</h1>
                        <h1>64</h1>
                    </div>
                </div>
            </div>
            <div class="forecast-day-box">
                <h1 class="fiveDay active"><a class="fiveDay-link" href="">5 day</a></h1>
                <h1 class="tenDay"><a class="tenDay-link" href="">10 day</a></h1>
            </div>

        </div>
        <div class="forecast-box-rain">
            <h1 class="forecast-box-temperature-header">Precipitation</h1>
            <div class="forecast-box-rain-content">
                <div class="forecast-box-rain-content-item">
                    <h3 class="rain-1"> <% if( new Date().getHours() > 24){%> Night
                        <%}else if(new Date().getHours() > 18){%>Evening
                        <%}else if(new Date().getHours() > 12){%>Afternoon
                        <%}else if(new Date().getHours() >6){%>Morning <%}%>
                    </h3>


                    <div class="img-box flex-center">
                        <img src="img/rain_icon.png" alt="">
                    </div>
                    <p><%= (wed.hourly.data[0].precipProbability * 100).toFixed(1) %>%</p>
                </div>
                <div class="forecast-box-rain-content-item">
                    <h3 class="rain-2"></h3>
                    <div class="img-box flex-center">
                        <img src="img/rain_icon.png" alt="">
                    </div>
                    <p><%= (wed.hourly.data[6].precipProbability * 100).toFixed(1) %>%</p>
                </div>
                <div class="forecast-box-rain-content-item">
                    <h3 class="rain-3"></h3>
                    <div class="img-box flex-center">
                        <img src="img/rain_icon.png" alt="">
                    </div>
                    <p><%= (wed.hourly.data[12].precipProbability * 100).toFixed(1) %>%</p>
                </div>
                <div class="forecast-box-rain-content-item">
                    <h3 class="rain-4"></h3>
                    <div class="img-box flex-center">
                        <img src="img/rain_icon.png" alt="">
                    </div>
                    <p><%= (wed.hourly.data[18].precipProbability * 100).toFixed(1) %>%</p>
                </div>
            </div>
        </div>
        <div class="forecast-box-wind">
            <h1 class="forecast-box-temperature-header">Wind & Pressure</h1>
            <div class="forecast-box-wind-content">
                <div class="wind-pole">
                    <img src="img/pole.png" alt="">
                </div>
                <div class="wind-wing">
                    <img class="wind-wing-rotate" src="img/perki2.png" alt="">
                </div>
                <div class="forecast-box-wind-content-text">
                    <h1>Wind</h1>
                    <p><%= wed.currently.windSpeed %> mph</p>
                </div>
                <div class="forecast-box-wind-content-bottom">
                    <h1>Barometar</h1>
                    <p><%= wed.daily.data[0].pressure %> millibars</p>
                </div>
            </div>

        </div>
    </div>
    <div class="forecast-box-right">

        <div class="forecast-box-details">
            <h1 class="forecast-box-temperature-header">Details</h1>
            <div class="forecast-box-details-content">
                <div class="forecast-box-details-content-img">
                    <div class="forecast-box-details-content-img-box">
                        <img src="img/clear_day.png" alt="">
                    </div>
                </div>
                <div class="forecast-box-details-content-text">
                    <h1>Feels like <span><%= (wed.currently.apparentTemperature).toFixed(1) %> <sup>o</sup></span></h1>
                    <h1>Humidity <span><%= wed.currently.humidity * 100 %> %</span></h1>
                    <h1>Visibility <span><%= wed.currently.visibility %> km</span></h1>
                    <h1>UV Index <span class="uvIndex"><%= wed.daily.data[0].uvIndex %> <span class="uvIndex-span"></span></span></h1>
                </div>
            </div>
            <div class="forecast-box-details-momentarly">
                <p>At the moment: <span><%= wed.hourly.summary %></span></p>
            </div>
            <div class="forecast-box-details-today">
                <p>Today : <span><%= wed.daily.data[0].summary %></span></p>
            </div>
            <div class="forecast-box-details-tonight">
                <p>Week : <span><%= wed.daily.summary %></span></p>
            </div>

        </div>
        <div class="forecast-box-sunmoon">
            <h1 class="forecast-box-temperature-header">Sun & Moon</h1>
            <div class="forecast-box-sunmoon-content">
                <div class="forecast-box-sunmoon-content-box">
                    <div class="forecast-box-sunmoon-content-box-background">
                        <img src="img/weather_circle.png" alt="">
                    </div>
                    <div class="forecast-box-sunmoon-content-box-sun">
                        <img src="img/clear_day.png" alt="">
                    </div>
                </div>
            </div>
            <div class="forecast-box-sunmoon-time">
                <div class="forecast-box-sunmoon-time-morning">
                    <p>6:43 AM</p>
                </div>
                <div class="forecast-box-sunmoon-time-night">
                    <p>6:43 PM</p>
                </div>
            </div>
            <div class="forecast-box-sunmoon-moon">
                <div class="forecast-box-sunmoon-moon-box">
                    <img src="img/moon-full.png" alt="">
                </div>
                <p>Full Moon</p>
            </div>

        </div>
        <div class="forecast-box-map">
            <h1 class="forecast-box-temperature-header">Map</h1>
            <div id="map" style="width: 100%; height: 400px; display: block" />

        </div>
    </div>
    results[0].locations[0].latLng.lat
</div>
<h1 id="latitude"><%= geo.results[0].locations[0].latLng.lat %></h1>
<h2 id="longitude"><%= geo.results[0].locations[0].latLng.lng %></h2>

<script src="js/index2.js" ></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>